<div>
  <div
    class="hero bg-cover bg-center bg-no-repeat min-h-screen border-b-[12px] border-white relative"
    style="
      {% if section.settings.mobile_hero %}
        background-image: url('{{ section.settings.mobile_hero | image_url: width: 800 }}');
      {% endif %}
    "
  >
    <a href="{{ routes.collections_url }}" class="absolute bottom-3 left-1/2 -translate-x-1/2">
      <button
        class="bg-[#f2bb06] text-xl btn-cartoon-orange md:text-3xl font-[bangers] px-3 py-1 md:px-3 md:py-2"
      >
        Explore collection!
      </button>
    </a>
  </div>

  <div class="max-w-6xl mx-auto my-6 px-4 grid grid-cols-2 md:grid-cols-3 gap-4">
    <!-- Free Shipping Card -->
    <div class="card px-3 py-1.5 border-4 border-black rounded-lg shadow-lg  text-xl md:text-2xl text-black font-bold font-[poppins]">
      Free Shipping for Orders above {{ 30000 | money }}
    </div>

    <!-- Contact Card -->
    <div class="card px-3 py-1.5 border-4 border-black rounded-lg text-xl md:text-2xl text-black font-bold font-[poppins] flex flex-col gap-3">
      <p>Big Deals and Office Celebrations Just Contact Us</p>
      <a href="{{ routes.root_url }}pages/contact" class="inline-block">
        <button class="cursor-pointer text-white btn-cartoon px-4 py-1 bg-[#cd0102] hover:bg-[#ab0101] transition-colors rounded">
          Contact Us Now
        </button>
      </a>
    </div>
    <div
      class="card border-4 border-black rounded-lg text-xl md:text-3xl text-black font-bold font-[poppins] flex flex-col gap-3"
    >
      <img src="{{ section.settings.card_image }}" width="" height="" class="w-full h-full object-center object-cover">
    </div>
  </div>
</div>

<style>
  .card {
    {% if section.settings.card_pattern %}
      background-image: url('{{ section.settings.card_pattern | image_url }}');
    {% else %}
      background-image: url('{{ "yellow-pattern.png" | asset_url }}');
    {% endif %}
    background-size: contain;
    background-position: center;
  }

  /* Desktop override */
  @media (min-width: 768px) {
    .hero {
      {% if section.settings.desk_hero %}
        background-image: url('{{ section.settings.desk_hero | image_url: width: 1920 }}') !important;
      {% endif %}
    }
  }
</style>

{% schema %}
{
  "name": "Home Page Schema",
  "settings": [
    {
      "type": "image_picker",
      "id": "desk_hero",
      "label": "Desktop Hero Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_hero",
      "label": "Mobile Hero Image"
    },
    {
      "type": "image_picker",
      "id": "card_pattern",
      "label": "Card Background Pattern (optional)"
    },
    {
      "type": "image_picker",
      "id": "card_image",
      "label": "Image for the third card"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}
