<div class="max-w-6xl mx-auto mt-30 p-2">
  <div class="relative btn-cartoon min-h-12">
    <h2 class="absolute left-1/2 -rotate-6 -translate-x-1/2 top-0 -translate-y-1/2 font-[bangers] bg-[#cd0102] w-fit px-4 btn-cartoon outlined-text text-3xl">
      Your Cart
    </h2>

    <form
      action="{{ routes.cart_url }}"
      method="POST"
      novalidate
      class="px-3 pt-8 flex flex-col justify-center items-center"
    >
      {% for item in cart.items %}
        <div class="btn-cartoon grid grid-cols-2 md:grid-cols-4 justify-items-start items-start md:items-center justify-between gap-4 w-full p-3 max-w-2xl my-4 bg-white">
          <img width="" height="" src="{{ item.image | image_url}}" class="object-contain border-4 w-30 h-30">
          <div>
            <p class="font-[bangers] text-xl md:text-2xl">{{ item.title }}</p>
            <p class="text-[#cd0102] font-[bangers] text-lg md:text-xl">{{ item.final_price | money }}</p>
          </div>
          <div class="flex items-center gap-1">
            <button
              data-quantity="{{ item.quantity }}"
              type="button"
              data-line="{{ forloop.index }}"
              class="bg-white btn-cartoon w-8 h-8 quantity-decrease"
            >
              <i class="fa-solid fa-minus"></i>
            </button>
            <input
              type="number"
              name="updates[]"
              id="updates_{{ forloop.index }}"
              value="{{ item.quantity }}"
              min="0"
              readonly
              data-line="{{ forloop.index }}"
              class="w-10 focus:outline-none text-center font-bold text-3xl"
            >
            <button
              data-quantity="{{ item.quantity }}"
              type="button"
              data-line="{{ forloop.index }}"
              class="bg-white btn-cartoon w-8 h-8 quantity-increase"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div>
            <div class="font-bold text-2xl">
              {{ item.final_line_price | money }}
            </div>
            <a href="{{ item.url_to_remove }}" class="font-[bangers] text-black hover:text-[#cd0102] font-bold text-sm">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </div>
        </div>
      {% endfor %}
      <div class="grid grid-cols-2 md:grid-cols-4 items-center justify-between gap-4 w-full p-3 max-w-2xl my-4">
        <input type="submit" value="Update cart" id="update-cart" class="hidden">
        <a
          href="{{ routes.all_products_collection_url }}"
          class="flex gap-1 items-center font-[bangers] hover:text-[#400afe]"
          >Continue Shopping <i class="fa-solid fa-arrow-right"></i
        ></a>
        <p class="bg-[#ff7e06] md:col-span-2 btn-cartoon text-xl md:text-3xl  transition-colors duration-300 text-white font-bold px-4 py-1.5">
          TOTAL: {{ cart.total_price | money }}
        </p>
        <input
          class="bg-[#cd0102] btn-cartoon text-2xl font-[bangers] hover:bg-[#ff7e06] transition-colors duration-300 outlined-text px-4 py-1.5"
          type="submit"
          name="checkout"
          value="Checkout"
        >
      </div>
    </form>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const incBtns = document.querySelectorAll('.quantity-increase');
    const decBtns = document.querySelectorAll('.quantity-decrease');
    const updateBtn = document.getElementById('update-cart');

    incBtns.forEach((btn) => {
      btn.addEventListener('click', (e) => {
        const line = btn.dataset.line;
        console.log(line);
        const input = document.getElementById(`updates_${line}`);
        const quantity = parseInt(input.value);
        input.value = quantity + 1;
        updateBtn.click();
      });
    });
    decBtns.forEach((btn) => {
      btn.addEventListener('click', () => {
        const line = btn.dataset.line;
        console.log(line);
        const input = document.getElementById(`updates_${line}`);
        const quantity = parseInt(input.value);
        if (input.value > 0) {
          input.value = quantity - 1;
        }
        updateBtn.click();
      });
    });
  });
</script>
